.active{
    border-bottom: solid 2px #03ebeb!important;
    color: #03ebeb!important;
}

.table{
    border-collapse: separate!important;
}

.page-body{
    margin-top: 1rem!important
}

.main, .body, .page{
    background-color: #f5f7fa!important;
}