
html, body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  height: 100vh;
}

#login .containerLogin #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;  
  border-radius: 25px;
}

#login .containerLogin #login-row #login-column #login-box #login-form {
  padding: 20px;
}

#login .containerLogin #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

.loginStyle {
  display: flex;
  justify-content: center;
  width: 100%!important;
}

.backgroundWhite
{background-color: #ffffff!important;}

.button
{
  border-radius: 15px!important;
  background-color: #01a8c2!important;
  border: solid 2px #003f49 !important;
}